header{
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 20px;
        &-name{
            display: flex;
            flex-direction: column;
            gap: 1px;
            h1{
                color: #000;
                font-family: Inter;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }
            h3{
                color: #9D9D9D;
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    .buttons{
        display: flex;
        gap: 32px;
        align-items: center;
        div{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            p{
                color: #5C5C5C;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}
.head-line{
    width: 100%;
    height: 1px;
    background-color: #EAEAEA;
}